body {
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.entry {
	max-width: 600px;
	margin: auto;
	line-height: 150%;
}

.sig {
    padding-left: 50px;
}

.site-title {
	text-align: center;
	font-size: 27px;
}
.site-title a {
	color: black;
	font-weight: normal;
}
.page-title {
	font-size: 27px;
	text-align: center;
	font-weight: normal;
}
.site-title, .page-title {
	margin-bottom: 25px;
}

h1 {
	font-weight: bold;
	font-size: 24px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
}

hr {
	font-size: 12px;
	border: none;
	text-align: center;
}

hr:before {
	content: "\00b7\00a0\00a0\00a0\00b7\00a0\00a0\00a0\00b7";
	color: grey;
	font-size: 40px;
}

blockquote {
	border-left: 5px solid lightgrey;
	margin-left: 0px;
	padding-left: 10px;
}

code {
	background-color: rgb(95%,95%,95%);
	font-size: 18px;
	padding: 3px;
	white-space: pre;
}

@media (prefers-color-scheme: dark) {
	body {
  		background-color: #242424;
  		color: #C5C5C5;
  	}
  	a:link { color: #58A3C6 }
  	a:visited { color: #266ea0 }
  	.site-title a { color: #C5C5C5 }
	blockquote { border-left-color: #333333 }
}

